/* esconder tudo */
.container > *:not(.profile-img) {
  opacity: 0;
}

/* imagem começa centralizada */
.profile-img {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}